<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.profile.model.impl.SProfileMemberImpl">
    <cache/>
	<insert id="insertSProfileMemberImpl" parameterType="profilemember">
		INSERT INTO profilemember (tenantId, id, profileId, userId, groupid, roleid)
		VALUES (#{tenantid}, #{entity.id}, #{entity.profileId}, #{entity.userId}, #{entity.groupId}, #{entity.roleId})
	</insert>

	<delete id="deleteSProfileMemberImpl" parameterType="profilemember">
		DELETE FROM profilemember
		WHERE tenantId = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="profileMemberResultMap" type="profilemember">
		<id property="id" column="id" />
		<result property="profileId" column="profileId" />
		<result property="userId" column="userId" />
		<result property="groupId" column="groupId" />
		<result property="roleId" column="roleId" />
		<result property="displayNamePart1" column="displayNamePart1" />
		<result property="displayNamePart2" column="displayNamePart2" />
		<result property="displayNamePart3" column="displayNamePart3" />
	</resultMap>

	<select id="getSProfileMembersWithoutDisplayName"  parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.*
		FROM profilemember pm 
		WHERE pm.tenantId = #{tenantid}
		AND pm.profileId = #{profileId}
	</select>

	<select id="getDirectProfileMembersOfUser" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.*
		FROM profilemember pm
		WHERE pm.tenantId = #{tenantid}
		AND pm.userId = #{userId}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getDirectProfileMembersOfGroup" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.*
		FROM profilemember pm
		WHERE pm.tenantId = #{tenantid}
		AND pm.groupid = #{groupId}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getDirectProfileMembersOfRole" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.*
		FROM profilemember pm
		WHERE pm.tenantId = #{tenantid}
		AND pm.roleid = #{roleId}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id ="getProfileMemberWithoutDisplayNameById" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.*
		FROM profilemember pm
		WHERE pm.tenantId = #{tenantid}
		AND pm.id = #{id}
	</select>

	<select id="getProfileMembersFromProfileIds" parameterType="list" resultMap="profileMemberResultMap">
		SELECT pm.*
		FROM profilemember pm
		WHERE pm.tenantId = #{tenantid}
		AND pm.profileId IN
		<foreach item="profileId" index="index" collection="profileIds" open="(" separator="," close=")">
			#{profileId}
		</foreach>
	</select>

	<select id ="getNumberOfSProfileMemberwithSUserForUser" parameterType="long" resultType="long">
		SELECT COUNT(pm.id)
		FROM profilemember pm,
			 user_ u
		WHERE pm.tenantId = #{tenantid}
		AND u.tenantId = pm.tenantId
		AND pm.profileId = #{profileId}
		AND pm.userId = u.id
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id ="searchSProfileMemberwithSUserForUser" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.id, pm.tenantId, pm.profileId, pm.userId, pm.groupId, pm.roleId, u.firstName AS displayNamePart1, u.lastName AS displayNamePart2, u.userName AS displayNamePart3
		FROM profilemember pm,
			 user_ u
		WHERE pm.tenantId = #{tenantid}
		AND u.tenantId = pm.tenantId
		AND pm.profileId = #{profileId}
		AND pm.userId = u.id
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id ="getNumberOfSProfileMemberForUser" parameterType="long" resultType="long">
		SELECT COUNT(pm.id)
		FROM profilemember pm,
			 user_ u
		WHERE pm.tenantId = #{tenantid}
		AND u.tenantId = pm.tenantId
		AND pm.profileId = #{profileId}
		AND pm.userId = u.id
		AND pm.userId &gt;0
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id ="searchSProfileMemberForUser" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.id, pm.tenantId, pm.profileId, pm.userId, pm.groupId, pm.roleId, u.firstName AS displayNamePart1, u.lastName AS displayNamePart2, u.userName AS displayNamePart3
		FROM profilemember pm,
			 user_ u
		WHERE pm.tenantId = #{tenantid}
		AND u.tenantId = pm.tenantId
		AND pm.profileId = #{profileId}
		AND pm.userId = u.id
		AND pm.userId &gt;0
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id ="getNumberOfSProfileMemberwithSGroupForGroup" parameterType="long" resultType="long">
		SELECT COUNT(pm.id) 
		FROM profilemember pm,
			 group_ g
		WHERE pm.tenantId = #{tenantid}
		AND g.tenantId = pm.tenantId
		AND pm.profileId = #{profileId} 
		AND pm.groupId = g.id
		AND pm.roleId = -1
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id ="searchSProfileMemberwithSGroupForGroup" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.id, pm.tenantId, pm.profileId, pm.userId, pm.groupId, pm.roleId, g.name AS displayNamePart1, g.parentPath AS displayNamePart2, '' AS displayNamePart3 
		FROM profilemember pm,
			 group_ g
		WHERE pm.tenantId = #{tenantid}
		AND g.tenantId = pm.tenantId
		AND pm.profileId = #{profileId} 
		AND pm.groupId = g.id
		AND pm.roleId = -1
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id ="getNumberOfSProfileMemberForGroup" parameterType="long" resultType="long">
		SELECT COUNT(pm.id) 
		FROM profilemember pm,
			 group_ g
		WHERE pm.tenantId = #{tenantid}
		AND g.tenantId = pm.tenantId
		AND pm.profileId = #{profileId} 
		AND pm.groupId = g.id
		AND pm.roleId = -1
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id ="searchSProfileMemberForGroup" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.id, pm.tenantId, pm.profileId, pm.userId, pm.groupId, pm.roleId, g.name AS displayNamePart1, g.parentPath AS displayNamePart2, ''  AS displayNamePart3 
		FROM profilemember pm,
			 group_ g
		WHERE pm.tenantId = #{tenantid}
		AND g.tenantId = pm.tenantId
		AND pm.profileId = #{profileId} 
		AND pm.groupId = g.id
		AND pm.roleId = -1
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id ="getNumberOfSProfileMemberwithSRoleForRole" parameterType="long" resultType="long">
		SELECT COUNT(pm.id)
		FROM profilemember pm,
			 role r
		WHERE pm.tenantId = #{tenantid}
		AND r.tenantId = pm.tenantId
		AND pm.profileId = #{profileId}
		AND pm.roleId = r.id
		AND pm.groupId = -1
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id ="searchSProfileMemberwithSRoleForRole" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.id, pm.tenantId, pm.profileId, pm.userId, pm.groupId, pm.roleId, r.name AS displayNamePart1, '' AS displayNamePart2, '' AS displayNamePart3
		FROM profilemember pm,
			 role r
		WHERE pm.tenantId = #{tenantid}
		AND r.tenantId = pm.tenantId
		AND pm.profileId = #{profileId}
		AND pm.roleId = r.id
		AND pm.groupId = -1
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id ="getNumberOfSProfileMemberForRole" parameterType="long" resultType="long">
		SELECT COUNT(pm.id)
		FROM profilemember pm,
			 role r
		WHERE pm.tenantId = #{tenantid}
		AND r.tenantId = pm.tenantId
		AND pm.profileId = #{profileId}
		AND pm.roleId = r.id 
		AND pm.groupId = -1
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id ="searchSProfileMemberForRole" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.id, pm.tenantId, pm.profileId, pm.userId, pm.groupId, pm.roleId, r.name AS displayNamePart1, '' AS displayNamePart2, '' AS displayNamePart3
		FROM profilemember pm,
			 role r
		WHERE pm.tenantId = #{tenantid}
		AND r.tenantId = pm.tenantId
		AND pm.profileId = #{profileId}
		AND pm.roleId = r.id 
		AND pm.groupId = -1
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id ="getNumberOfSProfileMemberwithSGroupwithSRoleForRoleAndGroup" parameterType="long" resultType="long">
		SELECT COUNT(pm.id) 
		FROM profilemember pm,
			 role r,
			 group_ g
		WHERE pm.tenantId = #{tenantid}
		AND r.tenantId = pm.tenantId
		AND g.tenantId = pm.tenantId
		AND pm.profileId = #{profileId} 
		AND pm.roleId = r.id
		AND pm.groupId = g.id
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id ="searchSProfileMemberwithSGroupwithSRoleForRoleAndGroup" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.id, pm.tenantId, pm.profileId, pm.userId, pm.groupId, pm.roleId, r.name AS displayNamePart1, g.name AS displayNamePart2, g.parentPath AS displayNamePart3 
		FROM profilemember pm,
			 role r,
			 group_ g
		WHERE pm.tenantId = #{tenantid}
		AND r.tenantId = pm.tenantId
		AND g.tenantId = pm.tenantId
		AND pm.profileId = #{profileId} 
		AND pm.roleId = r.id
		AND pm.groupId = g.id
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id ="getNumberOfSProfileMemberwithSGroupForRoleAndGroup" parameterType="long" resultType="long">
		SELECT COUNT(pm.id) 
		FROM profilemember pm,
			 role r,
			 group_ g
		WHERE pm.tenantId = #{tenantid}
		AND r.tenantId = pm.tenantId
		AND g.tenantId = pm.tenantId
		AND pm.profileId = #{profileId} 
		AND pm.roleId = r.id
		AND pm.groupId = g.id
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id ="searchSProfileMemberwithSGroupForRoleAndGroup" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.id, pm.tenantId, pm.profileId, pm.userId, pm.groupId, pm.roleId, r.name AS displayNamePart1, g.name AS displayNamePart2, g.parentPath AS displayNamePart3 
		FROM profilemember pm,
			 role r,
			 group_ g
		WHERE pm.tenantId = #{tenantid}
		AND r.tenantId = pm.tenantId
		AND g.tenantId = pm.tenantId
		AND pm.profileId = #{profileId} 
		AND pm.roleId = r.id
		AND pm.groupId = g.id
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id ="getNumberOfSProfileMemberwithSRoleForRoleAndGroup" parameterType="long" resultType="long">
		SELECT COUNT(pm.id)
		FROM profilemember pm,
			 role r,
			 group_ g
		WHERE pm.tenantId = #{tenantid}
		AND r.tenantId = pm.tenantId
		AND g.tenantId = pm.tenantId
		AND pm.profileId = #{profileId} 
		AND pm.roleId = r.id
		AND pm.groupId = g.id
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id ="searchSProfileMemberwithSRoleForRoleAndGroup" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.id, pm.tenantId, pm.profileId, pm.userId, pm.groupId, pm.roleId, r.name AS displayNamePart1, g.name AS displayNamePart2, g.parentPath AS displayNamePart3 
		FROM profilemember pm,
			 role r,
			 group_ g
		WHERE pm.tenantId = #{tenantid}
		AND r.tenantId = pm.tenantId
		AND g.tenantId = pm.tenantId
		AND pm.profileId = #{profileId} 
		AND pm.roleId = r.id
		AND pm.groupId = g.id
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id ="getNumberOfSProfileMemberForRoleAndGroup" parameterType="long" resultType="long">
		SELECT COUNT(pm.id) 
		FROM profilemember pm,
			 role r,
			 group_ g
		WHERE pm.tenantId = #{tenantid}
		AND r.tenantId = pm.tenantId
		AND g.tenantId = pm.tenantId
		AND pm.profileId = #{profileId}
		AND pm.roleId = r.id
		AND pm.groupId = g.id
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id ="searchSProfileMemberForRoleAndGroup" parameterType="long" resultMap="profileMemberResultMap">
		SELECT pm.id, pm.tenantId, pm.profileId, pm.userId, pm.groupId, pm.roleId, r.name AS displayNamePart1, g.name AS displayNamePart2, g.parentPath AS displayNamePart3 
		FROM profilemember pm,
			 role r,
			 group_ g
		WHERE pm.tenantId = #{tenantid}
		AND r.tenantId = pm.tenantId
		AND g.tenantId = pm.tenantId
		AND pm.profileId = #{profileId}
		AND pm.roleId = r.id
		AND pm.groupId = g.id
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

</mapper>