<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>|%d{HH:mm:ss.SSS}|%thread|%-5level|%logger{16}| %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.bonitasoft" level="WARN" />
	<logger name="org.bonitasoft.engine.execution.work.FailureHandlingBonitaWork" level="OFF" />

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
<!--   Show events of synchro repository -->
<!--   <logger name="org.bonitasoft.engine.test.synchro.SynchroRepository" level="DEBUG" /> -->
  
</configuration>