<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.scheduler.impl.model.SJobParameterImpl">

	<insert id="insertSJobParameterImpl" parameterType="job_parameter">
		INSERT INTO job_param (TENANTID, ID, jobDescriptorId, key_, value_)
		VALUES (#{tenantid}, #{entity.id}, #{entity.jobDescriptorId}, #{entity.key},
			#{entity.value, typeHandler=org.bonitasoft.engine.persistence.SerializableTypeHandler})
	</insert>

	<delete id="deleteSJobParameterImpl" parameterType="job_parameter">
		DELETE FROM job_param
		WHERE TENANTID = #{tenantid}
		AND ID = #{id}
	</delete>

	<resultMap id="jobParameterResultMap" type="job_parameter">
		<id property="id" column="ID" />
		<result property="tenantId" column="tenatid" />
		<result property="jobDescriptorId" column="jobDescriptorId" />
		<result property="key" column="key_" />
		<result property="value" column="value_" typeHandler="org.bonitasoft.engine.persistence.SerializableTypeHandler" />
	</resultMap>

	<select id="getSJobParameterImplById" parameterType="long" resultMap="jobParameterResultMap">
		SELECT jp.*
		FROM job_param jp
		WHERE jp.tenantid = #{tenantid}
		AND jp.id = #{id}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getSJobParameterImplByJobId" parameterType="long" resultMap="jobParameterResultMap">
		SELECT jp.*
		FROM job_param jp
		WHERE jp.tenantid = #{tenantid}
		AND jp.jobDescriptorId = #{jobDescriptorId}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

</mapper>