<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.identity.model.impl.SProfileMetadataDefinitionImpl">
    <cache/>
	<insert id="insertSProfileMetadataDefinitionImpl" parameterType="p_metadata_def">
		INSERT INTO p_metadata_def (tenantid, id, name, displayName, description)
		VALUES (#{tenantid}, #{entity.id}, #{entity.name}, #{entity.displayName}, #{entity.description})
	</insert>

	<update id="updateSProfileMetadataDefinitionImpl" parameterType="p_metadata_def">
		UPDATE p_metadata_def
		<trim prefix="SET" suffixOverrides=",">
			<if test="name == '___bonitanull___'">name=NULL,</if>
			<if test="name != null and name != '___bonitanull___'">name=#{name},</if>
			<if test="displayName == '___bonitanull___'">displayName=NULL,</if>
			<if test="displayName != null and displayName != '___bonitanull___'">displayName=#{displayName},</if>
			<if test="description == '___bonitanull___'">description=NULL,</if>
			<if test="description != null and description != '___bonitanull___'">description=#{description},</if>
		</trim>
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</update>

	<delete id="deleteSProfileMetadataDefinitionImpl" parameterType="p_metadata_def">
		DELETE FROM p_metadata_def
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="profileMetadataDefintionResultMap" type="p_metadata_def">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="displayName" column="displayName" />
		<result property="description" column="description" />
	</resultMap>

	<select id="getProfileMetadataById" parameterType="long" resultMap="profileMetadataDefintionResultMap">
		SELECT *
		FROM p_metadata_def pmdd
		WHERE pmdd.tenantid = #{tenantid}
		AND pmdd.id = #{id}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getProfileMetadatas" parameterType="long" resultMap="profileMetadataDefintionResultMap">
		SELECT *
		FROM p_metadata_def pmdd
		WHERE pmdd.tenantid = #{tenantid}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="searchProfileMetadataDefinition" parameterType="long" resultMap="profileMetadataDefintionResultMap">
		SELECT *
		FROM p_metadata_def pmdd
		WHERE pmdd.tenantid = #{tenantid}
		<trim prefix="AND" prefixOverrides="AND | OR">
			${whereClause}
		</trim>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getNumberOfProfileMetadata" parameterType="long" resultType="long">
		SELECT COUNT(id)
		FROM p_metadata_def pmdd
		WHERE pmdd.tenantid = #{tenantid}
	</select>

	<select id="getMetadataByName" parameterType="string" resultMap="profileMetadataDefintionResultMap">
		SELECT *
		FROM p_metadata_def pmdd
		WHERE pmdd.tenantid = #{tenantid}
		AND pmdd.name = #{name}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

</mapper>