<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.identity.model.impl.SUserImpl">
    <cache/>
	<insert id="insertSUserImpl" parameterType="user">
		INSERT INTO user_ (tenantid, id, firstName, lastName, password, userName, managerUserId, delegeeUserName, title, jobTitle, iconName, iconPath,
			createdBy, creationDate, lastUpdate, lastConnection, enabled)
		VALUES (#{tenantid}, #{entity.id}, #{entity.firstName}, #{entity.lastName}, #{entity.password}, #{entity.userName}, #{entity.managerUserId},
			#{entity.delegeeUserName}, #{entity.title}, #{entity.jobTitle}, #{entity.iconName}, #{entity.iconPath}, #{entity.createdBy},
			#{entity.creationDate}, #{entity.lastUpdate}, #{entity.lastConnection}, #{entity.enabled})
	</insert>
	
	<insert id="insertSContactInfoImpl" parameterType="user_contactinfo">
		INSERT INTO user_contactinfo (tenantid, id, EMAIL, PHONE, MOBILE, FAX, BUILDING, ROOM, ADDRESS, ZIPCODE, CITY, STATE, COUNTRY, WEBSITE, userId, personal)
		VALUES (#{tenantid}, #{entity.id}, #{entity.email}, #{entity.phoneNumber}, #{entity.mobileNumber}, #{entity.faxNumber}, #{entity.building}, #{entity.room},
			#{entity.address}, #{entity.zipCode}, #{entity.city}, #{entity.state}, #{entity.country}, #{entity.website}, #{entity.userId}, #{entity.personal})
	</insert>

	<update id="updateSUserImpl" parameterType="user">
		UPDATE user_
		<trim prefix="SET" suffixOverrides=",">
			<if test="firstName == '___bonitanull___'">firstName=NULL,</if>
			<if test="firstName != null and firstName != '___bonitanull___'">firstName=#{firstName},</if>
			<if test="lastName == '___bonitanull___'">lastName=NULL,</if>
			<if test="lastName != null and lastName != '___bonitanull___'">lastName=#{lastName},</if>
			<if test="password == '___bonitanull___'">password=NULL,</if>
			<if test="password != null and password != '___bonitanull___'">password=#{password},</if>
			<if test="userName == '___bonitanull___'">userName=NULL,</if>
			<if test="userName != null and userName != '___bonitanull___'">userName=#{userName},</if>
			<if test="managerUserId != null">managerUserId=#{managerUserId},</if>
			<if test="delegeeUserName == '___bonitanull___'">delegeeUserName=NULL,</if>
			<if test="delegeeUserName != null and delegeeUserName != '___bonitanull___'">delegeeUserName=#{delegeeUserName},</if>
			<if test="title == '___bonitanull___'">title=NULL,</if>
			<if test="title != null and title != '___bonitanull___'">title=#{title},</if>
			<if test="jobTitle == '___bonitanull___'">jobTitle=NULL,</if>
			<if test="jobTitle != null and jobTitle != '___bonitanull___'">jobTitle=#{jobTitle},</if>
			<if test="iconName == '___bonitanull___'">iconName=NULL,</if>
			<if test="iconName != null and iconName != '___bonitanull___'">iconName=#{iconName},</if>
			<if test="iconPath == '___bonitanull___'">iconPath=NULL,</if>
			<if test="iconPath != null and iconPath != '___bonitanull___'">iconPath=#{iconPath},</if>
			<if test="createdBy != null">createdBy=#{createdBy},</if>
			<if test="creationDate != null">creationDate=#{creationDate},</if>
			<if test="lastUpdate != null">lastUpdate=#{lastUpdate},</if>
			<if test="lastConnection != null">lastConnection=#{lastConnection},</if>
			<if test="enabled != null">enabled=#{enabled},</if>
		</trim>
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</update>

	<update id="updateSContactInfoImpl" parameterType="user_contactinfo">
		UPDATE user_contactinfo
		<trim prefix="SET" suffixOverrides=",">
			<if test="email == '___bonitanull___'">EMAIL=NULL,</if>
			<if test="email != null and email != '___bonitanull___'">EMAIL=#{email},</if>
			<if test="phoneNumber == '___bonitanull___'">PHONE=NULL,</if>
			<if test="phoneNumber != null and phoneNumber != '___bonitanull___'">PHONE=#{phoneNumber},</if>
			<if test="mobileNumber == '___bonitanull___'">MOBILE=NULL,</if>
			<if test="mobileNumber != null and mobileNumber != '___bonitanull___'">MOBILE=#{mobileNumber},</if>
			<if test="baxNumber == '___bonitanull___'">FAX=NULL,</if>
			<if test="faxNumber != null and faxNumber != '___bonitanull___'">FAX=#{faxNumber},</if>
			<if test="building == '___bonitanull___'">BUILDING=NULL,</if>
			<if test="building != null and building != '___bonitanull___'">BUILDING=#{building},</if>
			<if test="room == '___bonitanull___'">ROOM=NULL,</if>
			<if test="room != null and room != '___bonitanull___'">ROOM=#{room},</if>
			<if test="address == '___bonitanull___'">ADDRESS=NULL,</if>
			<if test="address != null and address != '___bonitanull___'">ADDRESS=#{address},</if>
			<if test="zipCode == '___bonitanull___'">ZIPCODE=NULL,</if>
			<if test="zipCode != null and zipCode != '___bonitanull___'">ZIPCODE=#{zipCode},</if>
			<if test="city == '___bonitanull___'">CITY=NULL,</if>
			<if test="city != null and city != '___bonitanull___'">CITY=#{city},</if>
			<if test="state == '___bonitanull___'">STATE=NULL,</if>
			<if test="state != null and state != '___bonitanull___'">STATE=#{state},</if>
			<if test="country == '___bonitanull___'">COUNTRY=NULL,</if>
			<if test="country != null and country != '___bonitanull___'">COUNTRY=#{country},</if>
			<if test="website == '___bonitanull___'">WEBSITE=NULL,</if>
			<if test="website != null and website != '___bonitanull___'">WEBSITE=#{website},</if>
<!-- 			<if test="userId != null">userId=#{userId},</if> -->
<!-- 			<if test="personal != null">personal=#{personal},</if> -->
		</trim>
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</update>

	<delete id="deleteSUserImpl" parameterType="user">
		DELETE FROM user_
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="userResultMap" type="user">
		<result property="id" column="id" />
		<result property="firstName" column="firstName" />
		<result property="lastName" column="lastName" />
		<result property="password" column="password" />
		<result property="userName" column="userName" />
		<result property="managerUserId" column="managerUserId" />
		<result property="delegeeUserName" column="delegeeUserName" />
		<result property="title" column="title" />
		<result property="jobTitle" column="jobTitle" />
		<result property="iconName" column="iconName" />
		<result property="iconPath" column="iconPath" />
		<result property="createdBy" column="createdBy" />
		<result property="creationDate" column="creationDate" />
		<result property="lastUpdate" column="lastUpdate" />
		<result property="lastConnection" column="lastConnection" />
		<result property="enabled" column="enabled" />
	</resultMap>

	<resultMap id="userContactInfoResultMap" type="user_contactinfo">
		<result property="email" column="EMAIL" />
		<result property="phoneNumber" column="PHONE" />
		<result property="mobileNumber" column="MOBILE" />
		<result property="faxNumber" column="FAX" />
		<result property="building" column="BUILDING" />
		<result property="room" column="ROOM" />
		<result property="address" column="ADDRESS" />
		<result property="zipCode" column="ZIPCODE" />
		<result property="city" column="CITY" />
		<result property="state" column="STATE" />
		<result property="country" column="COUNTRY" />
		<result property="website" column="WEBSITE" />
		<result property="userId" column="USERID" />
		<result property="personal" column="PERSONAL" />
	</resultMap>

	<select id="getUserById" parameterType="long" resultMap="userResultMap">
		SELECT *
		FROM user_ u
		WHERE u.tenantid = #{tenantid}
		AND u.id = #{id}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getUsersByIds" parameterType="list" resultMap="userResultMap">
		SELECT *
		FROM user_ u
		WHERE u.tenantid = #{tenantid}
		AND u.id IN
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
		ORDER BY u.userName
	</select>

	<select id="getUsers" parameterType="long" resultMap="userResultMap">
		SELECT *
		FROM user_ u
		WHERE tenantid = #{tenantid}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getNumberOfSUser" parameterType="long" resultType="long">
		SELECT COUNT(id)
		FROM user_ u
		WHERE u.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSUser" parameterType="map" resultMap="userResultMap">
		SELECT *
		FROM user_ u
		WHERE u.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getNumberOfSUserwithSUserMembership" parameterType="long" resultType="long">
		SELECT COUNT(DISTINCT u.id)
		FROM user_ u,
			 user_membership um
		WHERE u.tenantid = #{tenantid}
		AND u.tenantid = um.tenantid
		AND um.userId = u.id
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSUserwithSUserMembership" parameterType="map" resultMap="userResultMap">
		SELECT DISTINCT u.*
		FROM user_ u,
			 user_membership um
		WHERE u.tenantid = #{tenantid}
		AND u.tenantid = um.tenantid
		AND um.userId = u.id
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getUserByUserName" parameterType="string" resultMap="userResultMap">
		SELECT *
		FROM user_ u
		WHERE u.tenantid = #{tenantid}
		AND u.userName = #{userName}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getUsersByManager" parameterType="list" resultMap="userResultMap">
		SELECT *
		FROM user_ u
		WHERE u.tenantid = #{tenantid}
		AND u.managerUserId = #{managerUserId}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getUsersByDelegee" parameterType="string" resultMap="userResultMap">
		SELECT *
		FROM user_ u
		WHERE u.tenantid = #{tenantid}
		AND u.delegeeUserName = #{delegeeUserName}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<!-- parameterType="string" -->
	<select id="getUserContactInfo" resultMap="userContactInfoResultMap">
		SELECT *
		FROM user_contactinfo
		WHERE tenantid = #{tenantid}
		AND userId = #{userId}
		AND personal = #{personal}
	</select>

	<select id="getUsersByRole" parameterType="string" resultMap="userResultMap">
		SELECT u.*
		FROM user_ u,
			 user_membership um
		WHERE um.tenantid = #{tenantid}
		AND u.tenantid = um.tenantid
		AND u.id = um.userId
		AND um.roleId = #{roleId}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getNumberOfUsersByRole" parameterType="long" resultType="long">
		SELECT COUNT(*)
		FROM user_membership um
		WHERE um.tenantid = #{tenantid}
		AND um.roleId = #{roleId}
	</select>

	<select id="getUsersByGroup" parameterType="string" resultMap="userResultMap">
		SELECT DISTINCT u.*
		FROM user_ u,
			 user_membership um
		WHERE um.tenantid = #{tenantid}
		AND u.tenantid = um.tenantid
		AND u.id = um.userId
		AND um.groupId = #{groupId}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getNumberOfUsersByGroup" parameterType="long" resultType="long">
		SELECT COUNT(*)
		FROM user_membership um
		WHERE um.tenantid = #{tenantid}
		AND um.groupId = #{groupId}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getUsersByMembership" parameterType="long" resultMap="userResultMap">
		SELECT DISTINCT u.*
		FROM user_ u,
			 user_membership um
		WHERE u.tenantid = #{tenantid}
		AND um.tenantid = u.tenantid
		AND u.id = um.userId
		AND um.roleId = #{roleId}
		AND um.groupId = #{groupId}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getNumberOfUsersByMembership" parameterType="long" resultType="long">
		SELECT COUNT(*)
		FROM user_membership um
		WHERE um.tenantid = #{tenantid}
		AND um.roleId = #{roleId}
		AND um.groupId = #{groupId}
	</select>

</mapper>