<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.platform.model.impl.SPlatformImpl">
   <cache/>
	<insert id="insertSPlatformImpl" parameterType="platform">
		INSERT INTO platform (id, version, previousVersion, initialVersion, created, createdBy)
		VALUES (#{entity.id}, #{entity.version}, #{entity.previousVersion}, #{entity.initialVersion}, #{entity.created}, #{entity.createdBy})
	</insert>

	<update id="updateSPlatformImpl" parameterType="platform">
		UPDATE platform
		<trim prefix="SET" suffixOverrides=",">
			<if test="version == '___bonitanull___'">version=NULL,</if>
			<if test="version != null and version != '___bonitanull___'">version=#{version},</if>
			<if test="previousVersion == '___bonitanull___'">previousVersion=NULL,</if>
			<if test="previousVersion != null and previousVersion != '___bonitanull___'">previousVersion=#{previousVersion},</if>
			<if test="initialVersion == '___bonitanull___'">initialVersion=NULL,</if>
			<if test="initialVersion != null and initialVersion != '___bonitanull___'">initialVersion=#{initialVersion},</if>
			<if test="created != null">created=#{created},</if>
			<if test="createdBy == '___bonitanull___'">createdBy=NULL,</if>
			<if test="createdBy != null and createdBy != '___bonitanull___'">createdBy=#{createdBy},</if>
		</trim>
		WHERE platform.id = #{id}
	</update>

	<delete id="deleteSPlatformImpl" parameterType="platform">
		DELETE FROM platform
		WHERE id = #{id}
	</delete>

	<resultMap id="platformResultMap" type="platform">
		<id property="id" column="id" />
		<result property="version" column="version" />
		<result property="previousVersion" column="previousVersion" />
		<result property="initialVersion" column="initialVersion" />
		<result property="created" column="created" />
		<result property="createdBy" column="createdBy" />
	</resultMap>

	<select id="getPlatform" parameterType="long" resultMap="platformResultMap">
		SELECT *
		FROM platform
	</select>

</mapper>