<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.platform.model.impl.STenantImpl">
    <cache/>
	<insert id="insertSTenantImpl" parameterType="tenant">
		INSERT INTO tenant (id, created, createdBy, description, defaultTenant, name, status, iconName, iconPath)
		VALUES (#{entity.id}, #{entity.created}, #{entity.createdBy}, #{entity.description}, #{entity.defaultTenant}, #{entity.name}, #{entity.status},
			#{entity.iconName}, #{entity.iconPath})
	</insert>

	<update id="updateSTenantImpl" parameterType="tenant">
		UPDATE tenant
		<trim prefix="SET" suffixOverrides=",">
			<if test="name == '___bonitanull___'">name=NULL,</if>
			<if test="name != null and name != '___bonitanull___'">name=#{name},</if>
			<if test="description == '___bonitanull___'">description=NULL,</if>
			<if test="description != null and description != '___bonitanull___'">description=#{description},</if>
			<if test="iconName == '___bonitanull___'">iconName=NULL,</if>
			<if test="iconName != null and iconName != '___bonitanull___'">iconName=#{iconName},</if>
			<if test="iconPath == '___bonitanull___'">iconPath=NULL,</if>
			<if test="iconPath != null and iconPath != '___bonitanull___'">iconPath=NULL,=#{iconPath},</if>
			<if test="created != null">created=#{created},</if>
			<if test="createdBy == '___bonitanull___'">createdBy=NULL,</if>
			<if test="createdBy != null and createdBy != '___bonitanull___'">createdBy=#{createdBy},</if>
			<if test="status == '___bonitanull___'">status=NULL,</if>
			<if test="status != null and status != '___bonitanull___'">status=#{status},</if>
		</trim>
		WHERE id = #{id}
	</update>

	<delete id="deleteSTenantImpl" parameterType="tenant">
		DELETE FROM tenant
		WHERE id = #{id}
	</delete>

	<resultMap id="tenantResultMap" type="tenant">
		<id property="id" column="id" />
		<result property="created" column="created" />
		<result property="createdBy" column="createdBy" />
		<result property="description" column="description" />
		<result property="defaultTenant" column="defaultTenant" />
		<result property="iconName" column="iconName" />
		<result property="iconPath" column="iconPath" />
		<result property="name" column="name" />
		<result property="status" column="status" />
	</resultMap>

	<select id="getTenantById" parameterType="long" resultMap="tenantResultMap">
		SELECT *
		FROM tenant
		WHERE id = #{id}
	</select>

	<select id="getTenantByName" parameterType="long" resultMap="tenantResultMap">
		SELECT *
		FROM tenant
		WHERE name = #{name}
	</select>

	<select id="getNumberOfTenants" parameterType="long" resultType="long">
		SELECT COUNT(tenant.id)
		FROM tenant
	</select>

    <select id="searchSTenant" parameterType="map" resultMap="tenantResultMap">
		SELECT *
		FROM tenant
		WHERE 1=1
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSTenant" parameterType="long" resultType="long">
		SELECT COUNT(tenant.id)
		FROM tenant 
		WHERE 1=1
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>
	
	<select id="getTenants" parameterType="long" resultMap="tenantResultMap">
		SELECT *
		FROM tenant
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getDefaultTenant" resultMap="tenantResultMap">
		SELECT *
		FROM tenant
		WHERE defaultTenant = true
	</select>

	<select id="getTenantsByIds" parameterType="list" resultMap="tenantResultMap">
		SELECT *
		FROM tenant tenant
		WHERE tenant.id IN
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

</mapper>