.project
.settings
target
.classpath
FILEPATH.*.db
dependency-reduced-pom.xml
TemporaryLocalIntegrationTestsSP.java
TemporaryAllBPMSPTestsWithJNDI.java
TemporarySlowExecutionLocalIntegrationTestsSP.java
bpm/bonita-integration-tests/bonita-integration-local-tests/src/test/java/com/bonitasoft/engine/DeployBarTest.java
