<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.dependency.model.impl.SDependencyMappingImpl">
    <cache/>
	<insert id="insertSDependencyMappingImpl" parameterType="dependencymapping">
		INSERT INTO dependencymapping (TENANTID, ID, ARTIFACTID, ARTIFACTTYPE, DEPENDENCYID)
		VALUES (#{tenantid}, #{entity.id}, #{entity.artifactId}, #{entity.artifactType}, #{entity.dependencyId})
	</insert>

	<delete id="deleteSDependencyMappingImpl" parameterType="dependencymapping">
		DELETE FROM dependencymapping
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="dependencymappingResultMap" type="dependencymapping">
		<id property="id" column="ID" />
		<result property="artifactId" column="ARTIFACTID" />
		<result property="artifactType" column="ARTIFACTTYPE" />
		<result property="dependencyId" column="DEPENDENCYID" />
	</resultMap>

	<select id="getDepencencyMappingsByArtifact" parameterType="long" resultMap="dependencymappingResultMap">
		SELECT dependencymapping.*
		FROM dependencymapping,
			 dependency
		WHERE dependencymapping.tenantid = #{tenantid}
		AND dependency.tenantid = dependencymapping.tenantid
		AND dependencymapping.artifactId = #{artifactId}
		AND dependencymapping.artifactType = #{artifactType}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getDependencyMappings" parameterType="long" resultMap="dependencymappingResultMap">
		SELECT *
		FROM dependencymapping dependencymapping
		WHERE dependencymapping.tenantid = #{tenantid}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getDependencyMapping" parameterType="long" resultMap="dependencymappingResultMap">
		SELECT *
		FROM dependencymapping dependencymapping
		WHERE dependencymapping.tenantid = #{tenantid}
		AND dependencymapping.id = #{id}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getDependencyMappingsByDependency" parameterType="long" resultMap="dependencymappingResultMap">
		SELECT *
		FROM dependencymapping dependencymapping
		WHERE dependencymapping.tenantid = #{tenantid}
		AND dependencymapping.dependencyId = #{dependencyId}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
</mapper>