<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>|%d{HH:mm:ss.SSS}|%thread|%-5level|%logger{16}| %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.bonitasoft" level="INFO" />
	<logger name="com.bonitasoft" level="INFO" />
	<logger name="org.bonitasoft.engine.api.impl.ProcessAPIImpl" level="WARN" />

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
	
<!--   Show events of synchro repository -->
<!--   <logger name="org.bonitasoft.engine.test.synchro.SynchroRepository" level="DEBUG" /> -->

<!--   Show lock acquire/release-->
<!--   <logger name="org.bonitasoft.engine.lock.impl.MemoryLockService" level="DEBUG" /> -->
<!-- 	<logger name="org.bonitasoft.engine.work.BonitaWork" level="DEBUG" /> -->
<!-- 	<logger name="org.bonitasoft.engine.synchro.SynchroServiceImpl" level="DEBUG" /> -->
<!-- 	<logger name="com.bonitasoft.engine.synchro.ClusteredSynchroService" level="DEBUG" /> -->
<!-- 	<logger name="org.bonitasoft.engine.dependency.impl.DependencyServiceImpl" level="DEBUG" /> -->

<!-- 	<logger name="com.bonitasoft.engine.classloader" level="DEBUG" />
	<logger name="org.bonitasoft.engine.execution.ProcessExecutorImpl" level="INFO" />
	<logger name="org.bonitasoft.engine.execution.FlowNodeExecutorImpl" level="INFO" />
	<logger name="org.bonitasoft.engine.core.process.instance.impl.ActivityInstanceServiceImpl" level="INFO" /> 
	<logger name="org.hibernate.engine.jdbc.internal.JdbcCoordinatorImpl" level="ERROR"/> -->
<!-- 	<logger name="org.bonitasoft.engine.cache" level="DEBUG"/> -->
	
	
  
</configuration>
