<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>|${node.name}|%d{HH:mm:ss.SSS}|%thread|%-5level|%logger{16}| %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.bonitasoft" level="INFO" />
	<logger name="com.bonitasoft" level="INFO" />


	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
<!--   Show events of synchro repository -->
<!--  <logger name="org.bonitasoft.engine.test.synchro.SynchroRepository" level="DEBUG" /> -->
<!--   Show stack traces when there is error on jobs -->
<!--   <logger name="org.bonitasoft.engine.scheduler.impl.JobWrapper" level="DEBUG" /> -->
<!--   Show lock acquire/release-->
<!--   <logger name="org.bonitasoft.engine.lock.impl.MemoryLockService" level="DEBUG" /> -->
<!-- to log what's going on on the Clustered event service: -->
<!--   <logger name="com.bonitasoft.engine.events.impl" level="TRACE" /> -->

  
</configuration>
