<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.dependency.model.impl.SPlatformDependencyMapping">
    <cache/>
	<insert id="insertSPlatformDependencyMapping" parameterType="pdependencymapping">
		INSERT INTO pdependencymapping (id, artifactId, artifactType, dependencyId)
		VALUES (#{entity.id}, #{entity.artifactId}, #{entity.artifactType}, #{entity.dependencyId})
	</insert>

	<delete id="deleteSPlatformDependencyMapping" parameterType="pdependencymapping">
		DELETE FROM pdependencymapping
		WHERE id = #{id}
	</delete>

	<resultMap id="pdependencymappingResultMap" type="pdependencymapping">
		<id property="id" column="id" />
		<result property="artifactId" column="artifactId" />
		<result property="artifactType" column="artifactType" />
		<result property="dependencyId" column="dependencyId" />
	</resultMap>

	<select id="getPlatformDepencencyMappingsByArtifact" parameterType="long" resultMap="pdependencymappingResultMap">
		SELECT *
		FROM pdependencymapping
		WHERE artifactId = #{artifactId}
		AND artifactType = #{artifactType}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getPlatformDependencyMappings" parameterType="long" resultMap="pdependencymappingResultMap">
		SELECT *
		FROM pdependencymapping
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getPlatformDependencyMappingById" parameterType="long" resultMap="pdependencymappingResultMap">
		SELECT *
		FROM pdependencymapping
		WHERE id = #{id}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

</mapper>