<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.identity.model.impl.SGroupImpl">
    <cache/>
	<insert id="insertSGroupImpl" parameterType="group_">
		INSERT INTO group_ (tenantid, id, name, displayName, description, parentPath, iconName, iconPath, createdBy, creationDate, lastUpdate)
		VALUES (#{tenantid}, #{entity.id}, #{entity.name}, #{entity.displayName}, #{entity.description}, #{entity.parentPath}, #{entity.iconName},
			#{entity.iconPath}, #{entity.createdBy}, #{entity.creationDate}, #{entity.lastUpdate})
	</insert>

	<update id="updateSGroupImpl" parameterType="group_">
		UPDATE group_
		<trim prefix="SET" suffixOverrides=",">
			<if test="name == '___bonitanull___'">name=NULL,</if>
			<if test="name != null and name != '___bonitanull___'">name=#{name},</if>
			<if test="displayName == '___bonitanull___'">displayName=NULL,</if>
			<if test="displayName != null and displayName != '___bonitanull___'">displayName=#{displayName},</if>
			<if test="description == '___bonitanull___'">description=NULL,</if>
			<if test="description != null and description != '___bonitanull___'">description=#{description},</if>
			<if test="parentPath == '___bonitanull___'">parentPath=NULL,</if>
			<if test="parentPath != null and parentPath != '___bonitanull___'">parentPath=#{parentPath},</if>
			<if test="iconName == '___bonitanull___'">iconName=NULL,</if>
			<if test="iconName != null and iconName != '___bonitanull___'">iconName=#{iconName},</if>
			<if test="iconPath == '___bonitanull___'">iconPath=NULL,</if>
			<if test="iconPath != null and iconPath != '___bonitanull___'">iconPath=#{iconPath},</if>
			<if test="createdBy == '___bonitanull___'">createdBy=NULL,</if>
			<if test="createdBy != null and createdBy != '___bonitanull___'">createdBy=#{createdBy},</if>
			<if test="creationDate != null">creationDate=#{creationDate},</if>
			<if test="lastUpdate != null">lastUpdate=#{lastUpdate},</if>
		</trim>
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</update>

	<delete id="deleteSGroupImpl" parameterType="group_">
		DELETE FROM group_
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="groupResultMap" type="group_">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="displayName" column="displayName" />
		<result property="description" column="description" />
		<result property="parentPath" column="parentPath" />
		<result property="iconName" column="iconName" />
		<result property="iconPath" column="iconPath" />
		<result property="createdBy" column="createdBy" />
		<result property="creationDate" column="creationDate" />
		<result property="lastUpdate" column="lastUpdate" />
	</resultMap>

	<select id="getGroupById" parameterType="long" resultMap="groupResultMap">
		SELECT *
		FROM group_ g
		WHERE g.tenantid = #{tenantid}
		AND g.id = #{id}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getGroupsByIds" parameterType="list" resultMap="groupResultMap">
		SELECT *
		FROM group_ g
		WHERE g.tenantid = #{tenantid}
		AND g.id IN
		<foreach item="item" index="index" collection="ids" open="("
			separator="," close=")">
			#{item}
		</foreach>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getGroupByName" parameterType="string" resultMap="groupResultMap">
		SELECT *
		FROM group_ g
		WHERE g.tenantid = #{tenantid}
		AND g.name = #{name}
		AND g.parentPath IS NULL
	</select>

	<select id="getGroupByNameAndPath" parameterType="string" resultMap="groupResultMap">
		SELECT *
		FROM group_ g
		WHERE g.tenantid = #{tenantid}
		AND g.name = #{name}
		AND g.parentPath = #{parentPath}
	</select>

	<select id="getGroupsByName" parameterType="string" resultMap="groupResultMap">
		SELECT *
		FROM group_ g
		WHERE g.tenantid = #{tenantid}
		AND g.name = #{name}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getGroups" parameterType="long" resultMap="groupResultMap">
		SELECT *
		FROM group_ g
		WHERE g.tenantid = #{tenantid}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="searchSGroup" parameterType="long" resultMap="groupResultMap">
		SELECT *
		FROM group_ g
		WHERE g.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getNumberOfSGroup" parameterType="long" resultType="long">
		SELECT COUNT(*)
		FROM group_ g
		WHERE g.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="getChildrenOfGroup" parameterType="string" resultMap="groupResultMap">
		SELECT *
		FROM group_ g
		WHERE g.tenantid = #{tenantid}
		AND g.parentPath = #{groupPath}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getNumberOfGroupChildren" parameterType="long" resultType="long">
		SELECT COUNT(id)
		FROM group_ g
		WHERE g.tenantid = #{tenantid}
		<if test="parentPath == null">
			AND parentPath IS NULL
		</if>
		<if test="parentPath != null">
			AND parentPath = #{parentPath}
		</if>
	</select>

</mapper>