<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.identity.model.impl.SProfileMetadataValueImpl">
    <cache/>
	<insert id="insertSProfileMetadataValueImpl" parameterType="p_metadata_val">
		INSERT INTO p_metadata_val (tenantid, id, userName, metadataName, value)
		VALUES (#{tenantid}, #{entity.id}, #{entity.userName}, #{entity.metadataName}, #{entity.value})
	</insert>

	<update id="updateSProfileMetadataValueImpl" parameterType="p_metadata_val">
		UPDATE p_metadata_val
		<trim prefix="SET" suffixOverrides=",">
			<if test="userName != null">userName=#{userName},</if>
			<if test="metadataName != null">metadataName=#{metadataId},</if>
			<if test="value == '___bonitanull___'">value=NULL,</if>
			<if test="value != null and value != '___bonitanull___'">value=#{value},</if>
		</trim>
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</update>

	<delete id="deleteSProfileMetadataValueImpl" parameterType="p_metadata_val">
		DELETE FROM p_metadata_val
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="profileMetadataValueResultMap" type="p_metadata_val">
		<id property="id" column="ID" />
		<result property="userName" column="userName" />
		<result property="metadataName" column="metadataName" />
		<result property="value" column="VALUE" />
	</resultMap>

	<select id="getProfileMetadataValueById" parameterType="long" resultMap="profileMetadataValueResultMap">
		SELECT *
		FROM p_metadata_val pmdv
		WHERE pmdv.tenantid = #{tenantid}
		AND pmdv.id = #{id}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="searchProfileMetadataValue" parameterType="long" resultMap="profileMetadataValueResultMap">
		SELECT *
		FROM p_metadata_val pmdv
		WHERE pmdv.tenantid = #{tenantid}
		<trim prefix="AND" prefixOverrides="AND | OR">
			${whereClause}
		</trim>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getProfileMetadataValues" parameterType="long" resultMap="profileMetadataValueResultMap">
		SELECT *
		FROM p_metadata_val
		WHERE pmdv.tenantid = #{tenantid}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

</mapper>