<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.identity.model.impl.SRoleImpl">
    <cache/>
	<insert id="insertSRoleImpl" parameterType="role">
		INSERT INTO role (tenantid, id, name, displayName, description, iconName, iconPath, createdBy, creationDate, lastUpdate)
		VALUES (#{tenantid}, #{entity.id}, #{entity.name}, #{entity.displayName}, #{entity.description}, #{entity.iconName}, #{entity.iconPath},
			#{entity.createdBy}, #{entity.creationDate}, #{entity.lastUpdate})
	</insert>

	<update id="updateSRoleImpl" parameterType="role">
		UPDATE role
		<trim prefix="SET" suffixOverrides=",">
			<if test="name == '___bonitanull___'">name=NULL,</if>
			<if test="name != null and name != '___bonitanull___'">name=#{name},</if>
			<if test="displayName == '___bonitanull___'">displayName=NULL,</if>
			<if test="displayName != null and displayName != '___bonitanull___'">displayName=#{displayName},</if>
			<if test="description == '___bonitanull___'">description=NULL,</if>
			<if test="description != null and description != '___bonitanull___'">description=#{description},</if>
			<if test="iconName == '___bonitanull___'">iconName=NULL,</if>
			<if test="iconName != null and iconName != '___bonitanull___'">iconName=#{iconName},</if>
			<if test="iconPath == '___bonitanull___'">iconPath=NULL,</if>
			<if test="iconPath != null and iconPath != '___bonitanull___'">iconPath=#{iconPath},</if>
			<if test="createdBy != null">createdBy=#{createdBy},</if>
			<if test="creationDate != null">creationDate=#{creationDate},</if>
			<if test="lastUpdate != null">lastUpdate=#{lastUpdate},</if>
		</trim>
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</update>

	<delete id="deleteSRoleImpl" parameterType="role">
		DELETE FROM role
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="roleResultMap" type="role">
		<id property="id" column="ID" />
		<result property="name" column="name" />
		<result property="displayName" column="displayName" />
		<result property="description" column="description" />
		<result property="iconName" column="iconName" />
		<result property="iconPath" column="iconPath" />
		<result property="createdBy" column="createdBy" />
		<result property="creationDate" column="creationDate" />
		<result property="lastUpdate" column="lastUpdate" />
	</resultMap>

	<select id="getRoleById" parameterType="long" resultMap="roleResultMap">
		SELECT *
		FROM role
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</select>

	<select id="getRolesByIds" parameterType="list" resultMap="roleResultMap">
		SELECT *
		FROM role r
		WHERE r.tenantid = #{tenantid}
		AND r.id IN
		<foreach item="item" index="index" collection="ids" open="("
			separator="," close=")">
			#{item}
		</foreach>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getRoleByName" parameterType="string" resultMap="roleResultMap">
		SELECT *
		FROM role r
		WHERE r.tenantid = #{tenantid}
		AND r.name = #{name}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getRoles" parameterType="long" resultMap="roleResultMap">
		SELECT *
		FROM role r
		WHERE r.tenantid = #{tenantid}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="searchSRole" parameterType="long" resultMap="roleResultMap">
		SELECT *
		FROM role r
		WHERE r.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getNumberOfSRole" parameterType="long" resultType="long">
		SELECT COUNT(*)
		FROM role r
		WHERE r.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

</mapper>