<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.supervisor.mapping.model.impl.SProcessSupervisorImpl">
    <cache/>
	<insert id="insertSProcessSupervisorImpl" parameterType="processsupervisor">
		INSERT INTO processsupervisor (tenantid, id, processDefId, userId, groupId, roleId)
		VALUES (#{tenantid}, #{entity.id}, #{entity.processDefId}, #{entity.userId}, #{entity.groupId}, #{entity.roleId})
	</insert>

	<delete id="deleteSProcessSupervisorImpl" parameterType="processsupervisor">
		DELETE FROM processsupervisor
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="supervisorResultMap" type="processsupervisor">
		<result property="id" column="id" />
		<result property="processDefId" column="processDefId" />
		<result property="userId" column="userId" />
		<result property="groupId" column="groupId" />
		<result property="roleId" column="roleId" />
	</resultMap>
	
	<select id="getNumberOfSProcessSupervisor" parameterType="long" resultType="long">
		SELECT COUNT(supervisor.id)
		FROM processsupervisor supervisor
		WHERE supervisor.tenantid = #{tenantid}
		<if test="filter != null">
		 	AND ${filter}
		</if>
	</select>
	
	<select id="searchSProcessSupervisor" parameterType="long" resultMap="supervisorResultMap">
		SELECT supervisor.*
		FROM processsupervisor supervisor
		WHERE supervisor.tenantid = #{tenantid}
		<if test="filter != null">
		 	AND ${filter}
		</if>
		<if test="orderBy != null">
		 	ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSProcessSupervisorwithSUser" parameterType="long" resultType="long">
		SELECT COUNT(supervisor.id)
		FROM processsupervisor supervisor, user_ user
		WHERE supervisor.tenantid = #{tenantid}
		AND supervisor.userId = user.id
		<if test="filter != null">
		 	AND ${filter}
		</if>
	</select>
	
	<select id="searchSProcessSupervisorwithSUser" parameterType="long" resultMap="supervisorResultMap">
		SELECT supervisor.*
		FROM processsupervisor supervisor, user_ user
		WHERE supervisor.tenantid = #{tenantid}
		AND supervisor.userId = user.id
		<if test="filter != null">
		 	AND ${filter}
		</if>
		<if test="orderBy != null">
		 	ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSProcessSupervisorwithSGroup" parameterType="long" resultType="long">
		SELECT COUNT(supervisor.id)
		FROM processsupervisor supervisor, group_ group
		WHERE supervisor.tenantid = #{tenantid}
		AND supervisor.groupId = group.id
		<if test="filter != null">
		 	AND ${filter}
		</if>
	</select>
	
	<select id="searchSProcessSupervisorwithSGroup" parameterType="long" resultMap="supervisorResultMap">
		SELECT supervisor.*
		FROM processsupervisor supervisor, group_ group
		WHERE supervisor.tenantid = #{tenantid}
		AND supervisor.groupId = group.id
		<if test="filter != null">
		 	AND ${filter}
		</if>
		<if test="orderBy != null">
		 	ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSProcessSupervisorwithSRole" parameterType="long" resultType="long">
		SELECT COUNT(supervisor.id)
		FROM processsupervisor supervisor, role role
		WHERE supervisor.tenantid = #{tenantid}
		AND supervisor.roleId = role.id
		<if test="filter != null">
		 	AND ${filter}
		</if>
	</select>
	
	<select id="searchSProcessSupervisorwithSRole" parameterType="long" resultMap="supervisorResultMap">
		SELECT supervisor.*
		FROM processsupervisor supervisor, role role
		WHERE supervisor.tenantid = #{tenantid}
		AND supervisor.roleId = role.id
		<if test="filter != null">
		 	AND ${filter}
		</if>
		<if test="orderBy != null">
		 	ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSProcessSupervisorwithSGroupSRole" parameterType="long" resultType="long">
		SELECT COUNT(supervisor.id)
		FROM processsupervisor supervisor, role role, group_ group
		WHERE supervisor.tenantid = #{tenantid}
		AND supervisor.roleId = role.id
		AND supervisor.groupId = group.id
		<if test="filter != null">
		 	AND ${filter}
		</if>
	</select>
	
	<select id="searchSProcessSupervisorwithSGroupSRole" parameterType="long" resultMap="supervisorResultMap">
		SELECT supervisor.*
		FROM processsupervisor supervisor, role role, group_ group
		WHERE supervisor.tenantid = #{tenantid}
		AND supervisor.roleId = role.id
		AND supervisor.groupId = group.id
		<if test="filter != null">
		 	AND ${filter}
		</if>
		<if test="orderBy != null">
		 	ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSProcessSupervisorwithSUserSRole" parameterType="long" resultType="long">
		SELECT COUNT(supervisor.id)
		FROM processsupervisor supervisor, user_ user, role role
		WHERE supervisor.tenantid = #{tenantid}
		AND ((supervisor.userId &lt;= 0 AND  supervisor.roleId = role.id)
			OR (supervisor.userId = user.id AND supervisor.roleId &lt;= 0))
		<if test="filter != null">
		 	AND ${filter}
		</if>
	</select>
	
	<select id="searchSProcessSupervisorwithSUserSRole" parameterType="long" resultMap="supervisorResultMap">
		SELECT supervisor.*
		FROM processsupervisor supervisor, user_ user, role role
		WHERE supervisor.tenantid = #{tenantid}
		AND ((supervisor.userId &lt;= 0 AND  supervisor.roleId = role.id)
			OR (supervisor.userId = user.id AND supervisor.roleId &lt;= 0))
		<if test="filter != null">
		 	AND ${filter}
		</if>
		<if test="orderBy != null">
		 	ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSProcessSupervisorwithSUserSGroup" parameterType="long" resultType="long">
		SELECT COUNT(supervisor.id)
		FROM processsupervisor supervisor, user_ user, group_ group
		WHERE supervisor.tenantid = #{tenantid}
		AND ((supervisor.userId &lt;= 0 AND  supervisor.groupId = group.id)
			OR (supervisor.userId = user.id AND supervisor.groupId &lt;= 0))
		<if test="filter != null">
		 	AND ${filter}
		</if>
	</select>
	
	<select id="searchSProcessSupervisorwithSUserSGroup" parameterType="long" resultMap="supervisorResultMap">
		SELECT supervisor.*
		FROM processsupervisor supervisor, user_ user, group_ group
		WHERE supervisor.tenantid = #{tenantid}
		AND ((supervisor.userId &lt;= 0 AND  supervisor.groupId = group.id)
			OR (supervisor.userId = user.id AND supervisor.groupId &lt;= 0))
		<if test="filter != null">
		 	AND ${filter}
		</if>
		<if test="orderBy != null">
		 	ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getNumberOfSProcessSupervisorwithSUserSGroupSRole" parameterType="long" resultType="long">
		SELECT COUNT(supervisor.id)
		FROM processsupervisor supervisor, user_ user, group_ group, role role
		WHERE supervisor.tenantid = #{tenantid}
		AND (((user.id = supervisor.userId AND supervisor.roleId &lt;= 0 AND supervisor.groupId &lt;= 0)
			OR (supervisor.userId &lt;= 0 AND 
				((supervisor.roleId = role.id AND supervisor.groupId = group.id)
				OR (supervisor.roleId = role.id AND supervisor.groupId &lt;= 0)
				OR (supervisor.roleId &lt;= 0 AND supervisor.groupId = group.id)))))
		<if test="filter != null">
		 	AND ${filter}
		</if>
	</select>
	
	<select id="searchSProcessSupervisorwithSUserSGroupSRole" parameterType="long" resultMap="supervisorResultMap">
		SELECT supervisor.*
		FROM processsupervisor supervisor, user_ user, group_ group, role role
		WHERE supervisor.tenantid = #{tenantid}
		AND (((user.id = supervisor.userId AND supervisor.roleId &lt;= 0 AND supervisor.groupId &lt;= 0)
			OR (supervisor.userId &lt;= 0 AND 
				((supervisor.roleId = role.id AND supervisor.groupId = group.id)
				OR (supervisor.roleId = role.id AND supervisor.groupId &lt;= 0)
				OR (supervisor.roleId &lt;= 0 AND supervisor.groupId = group.id)))))
		<if test="filter != null">
		 	AND ${filter}
		</if>
		<if test="orderBy != null">
		 	ORDER BY ${orderBy}
		</if>
	</select>	

	<select id="getSupervisorById" parameterType="long" resultMap="supervisorResultMap">
		SELECT supervisor.*
		FROM processsupervisor supervisor
		WHERE supervisor.tenantid = #{tenantid}
		AND supervisor.id = #{id}
	</select>

	<select id="getSupervisor" parameterType="list" resultMap="supervisorResultMap">
		SELECT supervisor.*
		FROM processsupervisor supervisor
		WHERE supervisor.tenantid = #{tenantid}
		AND supervisor.processDefId = #{processDefId}
		AND (
			supervisor.userId = #{userId}
			OR supervisor.id IN (
				SELECT ps.id
				FROM processsupervisor ps,
		 			 user_membership um
		 		WHERE ps.tenantid = #{tenantid}
		 		AND ps.tenantid = um.tenantid
	 			AND um.userId = #{userId}
				AND (
					(ps.groupId = um.groupId AND ps.roleId &lt;= 0)
					OR (ps.roleId = um.roleId AND ps.groupId &lt;= 0)
					OR (ps.roleId = um.roleId AND ps.groupId = um.groupId)
				)
			)
		)
	</select>
</mapper>