<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.core.process.instance.model.impl.SConnectorInstanceImpl">

	<insert id="insertSConnectorInstanceImpl" parameterType="transition_instance">
		INSERT INTO connector_instance (tenantid, id, containerId, containerType, connectorId, version, name, activationEvent, state)
		VALUES (#{tenantid}, #{entity.id}, #{entity.containerId}, #{entity.containerType}, #{entity.connectorId}, #{entity.version}, #{entity.name},
			#{entity.activationEvent}, #{entity.state})
	</insert>

	<update id="updateSConnectorInstanceImpl" parameterType="connector_instance">
		UPDATE connector_instance
	    <set>
	      <if test="name != null">name=#{name},</if>
	      <if test="state != null">state=#{state}</if>
	    </set>
	    WHERE tenantid = #{tenantid}
	    AND id = #{id}
	</update>

	<delete id="deleteSConnectorInstanceImpl" parameterType="connector_instance">
		DELETE FROM connector_instance
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="connectorInstanceResultMap" type="connector_instance">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="containerId" column="containerId" />
		<result property="containerType" column="containerType" />
		<result property="connectorId" column="connectorId" />
		<result property="version" column="version" />
		<result property="activationEvent" column="activationEvent" />
		<result property="state" column="state" />
	</resultMap>

	<select id="getConnectorInstance" parameterType="long" resultMap="connectorInstanceResultMap">
		SELECT *
		FROM connector_instance c
		WHERE c.tenantid = #{tenantid}
		AND c.id = #{id}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
   		</if>
	</select>

	<select id="getConnectorInstancesWithState" resultMap="connectorInstanceResultMap">
		SELECT *
		FROM connector_instance c
		WHERE c.tenantid = #{tenantid}
		AND c.containerId = #{containerId}
		AND c.containerType = #{containerType}
		AND c.activationEvent = #{activationEvent}
		AND c.state = #{state}
	</select>

	<select id="getConnectorInstances" resultMap="connectorInstanceResultMap">
		SELECT *
		FROM connector_instance c
		WHERE c.tenantid = #{tenantid}
		AND c.containerId = #{containerId}
		AND c.containerType = #{containerType}
	</select>

	<select id="getNumberOfConnectorInstances" resultType="long">
		SELECT count(c.id)
		FROM connector_instance c
		WHERE c.tenantid = #{tenantid}
		AND c.containerId = #{containerId}
		AND c.containerType = #{containerType}
		AND c.activationEvent = #{activationEvent}
		AND c.state = #{state}
	</select>

</mapper>