<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.core.process.instance.model.event.trigger.impl.SEventTriggerInstanceImpl">

	<insert id="insertSEventTriggerInstanceImpl" parameterType="event_trigger_instance">
		INSERT INTO event_trigger_instance (tenantid, id, eventInstanceId, kind
		<if test="kind == 'timer'">
			, timerType, timerValue
		</if>
		<if test="kind == 'throwMessage'">
			, messageName, targetProcess, targetFlowNode
		</if>
		<if test="kind == 'throwSignal'">
			, signalName
		</if>
		<if test="kind == 'throwError'">
			, errorCode
		</if>
		)
		VALUES (#{tenantid}, #{entity.id}, #{entity.eventInstanceId}, #{kind}
		<if test="kind == 'timer'">
			, #{entity.timerType}, #{entity.timerValue}
		</if>
		<if test="kind == 'throwMessage'">
			, #{entity.messageName}, #{entity.targetProcess}, #{entity.targetFlowNode}
		</if>
		<if test="kind == 'throwSignal'">
			, #{entity.signalName}
		</if>
		<if test="kind == 'throwError'">
			, #{entity.errorCode}
		</if>
		)
	</insert>

	<delete id="deleteSEventTriggerInstanceImpl" parameterType="event_trigger_instance">
		DELETE FROM event_trigger_instance
		WHERE tenantid = #{tenantid}
		AND id = #{id} 
	</delete>

	<resultMap id="eventTriggerInstanceResultMap" type="event_trigger_instance">
		<result property="id" column="id" />
		<result property="eventInstanceId" column="eventInstanceId" />
		<discriminator javaType="string" column="kind">
			<case value="timer"  resultType="timer_event_trigger_instance">
				<result property="timerType" column="timerType" />
				<result property="timerValue" column="timerValue" />
			</case>
			<case value="throwMessage" resultType="throw_message_event_trigger_instance">
				<result property="messageName" column="messageName" />
				<result property="targetProcess" column="targetProcess" />
				<result property="targetFlowNode" column="targetFlowNode" />
			</case>
			<case value="throwSignal" resultType="throw_signal_event_trigger_instance">
				<result property="signalName" column="signalName" />
			</case>
			<case value="throwError" resultType="throw_error_event_trigger_instance">
				<result property="errorCode" column="errorCode" />
			</case>
		</discriminator>
	</resultMap>

	<select id="getEventTriggerInstanceById" parameterType="long" resultMap="eventTriggerInstanceResultMap">
		SELECT *
		FROM event_trigger_instance e
		WHERE e.tenantid = #{tenantid}
		AND e.id = #{id}
	</select>

	<select id="getEventTriggerInstances" parameterType="long" resultMap="eventTriggerInstanceResultMap">
		SELECT *
		FROM event_trigger_instance e
		WHERE e.tenantid = #{tenantid}
		AND e.eventInstanceId = #{eventInstanceId}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
   		</if>
	</select>
	
	<select id="getNumberOfSEventTriggerInstance" parameterType="list" resultType="long">
		SELECT COUNT(e.id)
		FROM event_trigger_instance e
		WHERE e.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSEventTriggerInstance" parameterType="list" resultMap="eventTriggerInstanceResultMap">
		SELECT *
		FROM event_trigger_instance e
		WHERE e.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSTimerEventTriggerInstance" parameterType="list" resultType="long">
		SELECT COUNT(e.id)
		FROM event_trigger_instance e
		WHERE e.tenantid = #{tenantid}
		AND e.kind = 'timer'
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSTimerEventTriggerInstance" parameterType="list" resultMap="eventTriggerInstanceResultMap">
		SELECT *
		FROM event_trigger_instance e
		WHERE e.tenantid = #{tenantid}
		AND e.kind = 'timer'
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSThrowMessageEventTriggerInstance" parameterType="list" resultType="long">
		SELECT COUNT(e.id)
		FROM event_trigger_instance e
		WHERE e.tenantid = #{tenantid}
		AND e.kind = 'throwMessage'
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSThrowMessageEventTriggerInstance" parameterType="list" resultMap="eventTriggerInstanceResultMap">
		SELECT *
		FROM event_trigger_instance e
		WHERE e.tenantid = #{tenantid}
		AND e.kind = 'throwMessage'
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSThrowSignalEventTriggerInstance" parameterType="list" resultType="long">
		SELECT COUNT(e.id)
		FROM event_trigger_instance e
		WHERE e.tenantid = #{tenantid}
		AND e.kind = 'throwSignal'
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSThrowSignalEventTriggerInstance" parameterType="list" resultMap="eventTriggerInstanceResultMap">
		SELECT *
		FROM event_trigger_instance e
		WHERE e.tenantid = #{tenantid}
		AND e.kind = 'throwSignal'
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSThrowErrorEventTriggerInstance" parameterType="list" resultType="long">
		SELECT COUNT(e.id)
		FROM event_trigger_instance e
		WHERE e.tenantid = #{tenantid}
		AND e.kind = 'throwError'
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSThrowErrorEventTriggerInstance" parameterType="list" resultMap="eventTriggerInstanceResultMap">
		SELECT *
		FROM event_trigger_instance e
		WHERE e.tenantid = #{tenantid}
		AND e.kind = 'throwError'
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
</mapper>