<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.core.process.instance.model.impl.SProcessInstanceTokenCountImpl">

	<insert id="insertSProcessInstanceTokenCountImpl" parameterType="process_instance_token_count">
		INSERT INTO process_instance_token_count (tenantid, id, processInstanceId)
		VALUES (#{tenantid}, #{entity.id}, #{entity.processInstanceId})
	</insert>

	<update id="updateSProcessInstanceTokenCountImpl"  parameterType="process_instance_token_count">
		UPDATE process_instance_token_count
	    <trim prefix="SET" suffixOverrides=",">
	      <if test="processDefinitionId != null">processDefinitionId=#{processDefinitionId},</if>
	    </trim>
	    WHERE tenantid = #{tenantid}
	    AND id = #{id}
	</update>

	<delete id="deleteSProcessInstanceTokenCountImpl" parameterType="process_instance_token_count">
		DELETE FROM process_instance_token_count
		WHERE tenantid = #{tenantid}
		AND id = #{id} 
	</delete>

	<resultMap id="processInstanceTokenCountResultMap" type="process_instance_token_count">
		<result property="tenantId" column="tenantId" />
		<result property="id" column="id" />
		<result property="processInstanceId" column="processInstanceId" />
	</resultMap>

	<select id="getNumberOfProcessInstanceTokenCountsOfProcessInstance" parameterType="long" resultType="long">
		SELECT COUNT(pitc.id)
		FROM process_instance_token_count pitc
		WHERE pitc.tenantid = #{tenantid}
		AND pitc.processInstanceId = #{processInstanceId}
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>
	
	<select id="searchProcessInstanceTokenCountsOfProcessInstance" parameterType="long" resultMap="processInstanceTokenCountResultMap">
		SELECT pitc.*
		FROM process_instance_token_count pitc
		WHERE pitc.tenantid = #{tenantid}
		AND pitc.processInstanceId = #{processInstanceId}
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSProcessInstanceTokenCount" parameterType="long" resultType="long">
		SELECT COUNT(pitc.id)
		FROM process_instance_token_count pitc
		WHERE pitc.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>
	
	<select id="getProcessInstanceTokenCounts" parameterType="long" resultMap="processInstanceTokenCountResultMap">
		SELECT pitc.*
		FROM process_instance_token_count pitc
		WHERE pitc.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getProcessInstanceTokenCountById" parameterType="long" resultType="process_instance_token_count">
		SELECT pitc.*
		FROM process_instance_token_count pitc
		WHERE pitc.tenantid = #{tenantid}
		AND pitc.id = #{id}
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

</mapper>