<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.core.process.instance.model.impl.STransitionInstanceImpl">

	<insert id="insertSTransitionInstanceImpl" parameterType="transition_instance">
		INSERT INTO transition_instance (tenantid, id, rootContainerId, parentContainerId, name, source, terminal, stable, stateCategory, logicalGroup1, logicalGroup2,
			logicalGroup3, logicalGroup4)
		VALUES (#{tenantid}, #{entity.id}, #{entity.rootContainerId}, #{entity.parentContainerId}, #{entity.name}, #{entity.source},
			#{entity.terminal}, #{entity.stable}, #{entity.stateCategory}, #{entity.logicalGroup1}, #{entity.logicalGroup2}, #{entity.logicalGroup3}, #{entity.logicalGroup4})
	</insert>

	<update id="updateSTransitionInstanceImpl"  parameterType="transition_instance">
		UPDATE transition_instance
	    <trim prefix="SET" suffixOverrides=",">
	      <if test="name != null">name=#{name},</if>
	      <if test="source != null">source=#{source},</if>
	      <if test="stateCategory != null and stateCategory != '___bonitanull___'">stateCategory=#{stateCategory},</if>
	      <if test="terminal != null">terminal=#{terminal},</if>
	      <if test="stable != null">stable=#{stable},</if>
	      <if test="deleted != null">deleted=#{deleted},</if>
	    </trim>
	    WHERE tenantid = #{tenantid}
	    AND id = #{id}
	</update>

	<delete id="deleteSTransitionInstanceImpl" parameterType="transition_instance">
		DELETE FROM transition_instance
		WHERE tenantid = #{tenantid}
		AND id = #{id} 
	</delete>

	<resultMap id="transitionInstanceResultMap" type="transition_instance">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="rootContainerId" column="rootContainerId" />
		<result property="parentContainerId" column="parentContainerId" />
		<result property="source" column="source" />
		<result property="terminal" column="terminal" />
		<result property="stable" column="stable" />
		<result property="stateCategory" column="stateCategory" />
		<result property="logicalGroup1" column="logicalGroup1" />
		<result property="logicalGroup2" column="logicalGroup2" />
		<result property="logicalGroup3" column="logicalGroup3" />
		<result property="logicalGroup4" column="logicalGroup4" />
		<result property="description" column="description" />
		<result property="deleted" column="deleted" />
	</resultMap>

	<select id="getTransitionInstanceById" parameterType="long" resultMap="transitionInstanceResultMap">
		SELECT t.*
		FROM transition_instance t
		WHERE t.tenantid = #{tenantid}
		AND t.deleted = false
		AND t.id = #{id}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
   		</if>
	</select>

	<select id="getNumberOfActiveTransitionOnRootContainer" parameterType="long" resultType="long">
		SELECT COUNT(*)
		FROM transition_instance t
		WHERE t.tenantid = #{tenantid}
		AND t.deleted = false
		AND t.rootContainerId = #{rootContainerId}
	</select>
	
	<select id="getNumberOfSTransitionInstance" parameterType="list" resultType="long">
		SELECT COUNT(t.id)
		FROM transition_instance t
		WHERE t.tenantid = #{tenantid}
		AND t.deleted = false
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSTransitionInstance" parameterType="list" resultMap="transitionInstanceResultMap">
		SELECT *
		FROM transition_instance t
		WHERE t.tenantid = #{tenantid}
		AND t.deleted = false
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

</mapper>