<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.core.process.instance.model.archive.impl.SATransitionInstanceImpl">

	<insert id="insertSATransitionInstanceImpl" parameterType="arch_transition_instance">
		INSERT INTO arch_transition_instance (tenantid, id, rootContainerId, parentContainerId, name, source, target, state, terminal, stable, stateCategory, logicalGroup1, logicalGroup2,
			logicalGroup3, logicalGroup4, archiveDate, sourceObjectId )
		VALUES (#{tenantid}, #{entity.id}, #{entity.rootContainerId}, #{entity.parentContainerId}, #{entity.name}, #{entity.source}, #{entity.target},
			#{entity.state}, #{entity.terminal}, #{entity.stable}, #{entity.stateCategory}, #{entity.logicalGroup1}, #{entity.logicalGroup2}, #{entity.logicalGroup3}, #{entity.logicalGroup4}, #{entity.archiveDate}, #{entity.sourceObjectId})
	</insert>

	<delete id="deleteSATransitionInstanceImpl" parameterType="arch_transition_instance">
		DELETE FROM arch_transition_instance
		WHERE tenantid = #{tenantid}
		AND id = #{id} 
	</delete>

	<resultMap id="archivedTransitionInstanceResultMap" type="arch_transition_instance">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="rootContainerId" column="rootContainerId" />
		<result property="parentContainerId" column="parentContainerId" />
		<result property="source" column="source" />
		<result property="target" column="target" />
		<result property="state" column="state" />
		<result property="terminal" column="terminal" />
		<result property="stable" column="stable" />
		<result property="stateCategory" column="stateCategory" />
		<result property="logicalGroup1" column="logicalGroup1" />
		<result property="logicalGroup2" column="logicalGroup2" />
		<result property="logicalGroup3" column="logicalGroup3" />
		<result property="logicalGroup4" column="logicalGroup4" />
		<result property="description" column="description" />
		<result property="archiveDate" column="archiveDate" />
		<result property="sourceObjectId" column="sourceObjectId" />
	</resultMap>
	
	
	
	<select id="getArchivedTransitionOfProcessInstance" resultMap="archivedTransitionInstanceResultMap" >
		SELECT at.*
		FROM arch_transition_instance at
		WHERE at.rootContainerId = #{processInstanceId}
		AND tenantid = #{tenantid}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
   		</if> 
	</select>

	
	<select id="getNumberOfSATransitionInstance" parameterType="list" resultType="long">
		SELECT COUNT(at.id)
		FROM arch_transition_instance at
		WHERE at.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSATransitionInstance" parameterType="list" resultMap="archivedTransitionInstanceResultMap">
		SELECT *
		FROM arch_transition_instance at
		WHERE at.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	

</mapper>