<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.core.process.instance.model.archive.impl.SAActivityInstanceImpl">

	<insert id="insertAActivityInstanceImpl" parameterType="arch_activity_instance">
		INSERT INTO arch_flownode_instance (tenantid, id, kind, flownodeDefinitionId, rootContainerId, parentContainerId, name, displayName, displayDescription, stateId, stateName, archiveDate,
		 terminal, stable, lastUpdateDate, reachedStateDate, aborting, logicalGroup1, logicalGroup2, logicalGroup3, logicalGroup4, sourceObjectId, description, executedBy
		<if test="kind == 'user' or kind == 'manual'">, priority, expectedEndDate, actorId, assigneeId</if>
		<if test="kind == 'loop'">, loop_counter, loop_max</if>
		<if test="kind == 'subProc'">, triggeredByEvent</if>
		)
		VALUES
		(#{tenantid}, #{entity.id}, #{kind}, #{entity.flownodeDefinitionId}, #{entity.rootContainerId}, #{entity.parentContainerId}, #{entity.name},
		#{entity.displayName}, #{entity.displayDescription}, #{entity.stateId}, #{entity.stateName}, #{entity.archiveDate}, #{entity.terminal}, #{entity.stable}, #{entity.lastUpdateDate}, 
		#{entity.reachedStateDate}, #{entity.aborting}, #{entity.logicalGroup1}, #{entity.logicalGroup2}, #{entity.logicalGroup3}, #{entity.logicalGroup4}, #{entity.sourceObjectId}, #{entity.description}, #{entity.executedBy}
		<if test="kind == 'user' or kind == 'manual'">, #{entity.priority, javaType=org.bonitasoft.engine.core.process.instance.model.STaskPriority, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}, #{entity.expectedEndDate}, #{entity.actorId}, #{entity.assigneeId}</if>
		<if test="kind == 'loop'">, #{entity.loopCounter}, #{entity.loopMax}</if> 
		<if test="kind == 'subProc'">, #{entity.triggeredByEvent}</if> 
		)
	</insert>

	<delete id="deleteAActivityInstanceImpl" parameterType="arch_activity_instance">
		DELETE FROM arch_flownode_instance
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="archivedFlownodeInstanceResultMap" type="arch_flow_node_instance">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="flownodeDefinitionId" column="flownodeDefinitionId" />
		<result property="displayName" column="displayName" />
		<result property="displayDescription" column="displayDescription" />
		<result property="rootContainerId" column="rootContainerId" />
		<result property="parentContainerId" column="parentContainerId" />
		<result property="aborting" column="aborting" />
		<result property="logicalGroup1" column="logicalGroup1" />
		<result property="logicalGroup2" column="logicalGroup2" />
		<result property="logicalGroup3" column="logicalGroup3" />
		<result property="logicalGroup4" column="logicalGroup4" />
		<result property="stateId" column="stateId" />
		<result property="stateName" column="stateName" />
		<result property="terminal" column="terminal" />
		<result property="stable" column="stable" />
		<result property="archiveDate" column="archiveDate" />
		<result property="reachedStateDate" column="reachedStateDate" />
		<result property="lastUpdateDate" column="lastUpdateDate" />
		<result property="sourceObjectId" column="sourceObjectId" />
		<result property="description" column="description" />
		<result property="executedBy" column="executedBy" />
		<discriminator javaType="string" column="kind">
			<case value="auto" resultType="arch_automatic_task_instance">
			</case>
			<case value="call" resultType="arch_call_activity_instance">
			</case>
			<case value="subProc" resultType="arch_sub_process_activity_instance">
				<result property="triggeredByEvent" column="triggeredByEvent" />
			</case>
			<case value="user" resultType="arch_user_task_instance">
				<result property="priority" column="priority" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
				<result property="actorId" column="actorId" />
				<result property="assigneeId" column="assigneeId" />
				<result property="expectedEndDate" column="expectedEndDate" />
			</case>
			<case value="manual" resultType="arch_manual_task_instance">
				<result property="priority" column="priority" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
				<result property="actorId" column="actorId" />
				<result property="assigneeId" column="assigneeId" />
				<result property="expectedEndDate" column="expectedEndDate" />
			</case>
			<case value="gate" resultType="arch_gateway_instance">
				<result property="gatewayType" column="gatewayType" />
				<result property="hitBys" column="hitBys" />
			</case>
			<case value="loop" resultType="arch_loop_instance">
				<result property="loopCounter" column="loop_counter" />
				<result property="loopMax" column="loop_max" />
			</case>
			<case value="startEvent" resultType="arch_start_event_instance"></case>
			<case value="endEvent" resultType="arch_end_event_instance"></case>
		</discriminator>
	</resultMap>

	<select id="getSArchivedFlowNodeInstanceById" parameterType="long" resultMap="archivedFlownodeInstanceResultMap">
		SELECT *
		FROM arch_flownode_instance f
		WHERE f.tenantid = #{tenantid}
		AND f.id = #{id}
	</select>
	
	<select id="getAActivityInstanceById" parameterType="long" resultMap="archivedFlownodeInstanceResultMap">
	    SELECT *
	    FROM arch_flownode_instance af
	    WHERE af.tenantid = #{tenantid}
	    AND af.id = #{id}
	</select>

	<select id="getAActivityInstanceByActivityInstanceId" parameterType="long" resultMap="archivedFlownodeInstanceResultMap">
		SELECT *
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
	    AND af.sourceObjectId = #{activityInstanceId}
		ORDER BY af.archiveDate DESC, af.id DESC
	</select>

	<select id="getAActivityInstanceByActivityInstanceIdAndStateId" parameterType="long" resultMap="archivedFlownodeInstanceResultMap">
	    SELECT *
	    FROM arch_flownode_instance af
	    WHERE af.tenantid = #{tenantid}
	    AND af.sourceObjectId = #{activityInstanceId}
	    AND af.stateId = #{stateId}
	    <if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getAActivitiesFromProcessInstance" parameterType="long" resultMap="archivedFlownodeInstanceResultMap">
	    SELECT *
	    FROM arch_flownode_instance af
	    WHERE af.tenantid = #{tenantid}
	    AND af.rootContainerId = #{rootContainerId}
	    <if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getAActivitiesWithStates">
	    SELECT *
	    FROM arch_flownode_instance af
	    WHERE af.tenantid = #{tenantid}
	    AND af.rootContainerId = #{rootContainerId}
    	AND af.stateId IN 
    	<foreach item="stateId" index="index" collection="stateIds" open="(" separator="," close=")">
		      #{stateId}
		</foreach>
    	<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<!-- External Service Queries -->
	<select id="getNumberOfSAHumanTaskInstanceSupervisedBy" parameterType="list" resultType="long">
		SELECT COUNT(DISTINCT af.id)
		FROM arch_flownode_instance af,
		      arch_process_instance ap
	    WHERE af.tenantid = #{tenantid}
	    AND af.tenantid = ap.tenantid
	    AND af.terminal = TRUE
	    AND af.archiveDate = (
			SELECT MAX(af2.archiveDate)
			FROM arch_flownode_instance af2
			WHERE af.tenantid = af.tenantid
			AND af2.sourceObjectId = af.sourceObjectId
		)
		AND af.rootContainerId = ap.sourceObjectId
		AND ap.processDefinitionId IN (
			SELECT ps.processDefId
			FROM processsupervisor ps
			WHERE ps.tenantid = af.tenantid
			AND (
				ps.userId = #{supervisorId}
				OR ps.id IN (
					SELECT s.id
					FROM processsupervisor s, user_membership um
					WHERE s.tenantid = af.tenantid
					AND um.tenantid = s.tenantid
					AND um.userId = #{supervisorId} 
					AND (
						(s.groupId = um.groupId AND s.roleId &lt;= 0)
						OR (s.roleId = um.roleId AND s.groupId &lt;= 0)
						OR (s.groupId = um.groupId AND s.roleId = um.roleId)
					)
				)
			)
		)
		AND af.kind IN ('manual', 'user')
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSAHumanTaskInstanceSupervisedBy" parameterType="list"  resultMap="archivedFlownodeInstanceResultMap">
		SELECT DISTINCT af.* 
		FROM arch_flownode_instance af,
		      arch_process_instance ap
	    WHERE af.tenantid = #{tenantid}
	    AND af.tenantid = ap.tenantid
	    AND af.terminal = TRUE
	    AND af.archiveDate = (
			SELECT MAX(af2.archiveDate)
			FROM arch_flownode_instance af2
			WHERE af.tenantid = af.tenantid
			AND af2.sourceObjectId = af.sourceObjectId
		)
		AND af.rootContainerId = ap.sourceObjectId
		AND ap.processDefinitionId IN (
			SELECT ps.processDefId
			FROM processsupervisor ps
			WHERE ps.tenantid = af.tenantid
			AND (
				ps.userId = #{supervisorId}
				OR ps.id IN (
					SELECT s.id
					FROM processsupervisor s, user_membership um
					WHERE s.tenantid = af.tenantid
					AND um.tenantid = s.tenantid
					AND um.userId = #{supervisorId} 
					AND (
						(s.groupId = um.groupId AND s.roleId &lt;= 0)
						OR (s.roleId = um.roleId AND s.groupId &lt;= 0)
						OR (s.groupId = um.groupId AND s.roleId = um.roleId)
					)
				)
			)
		)
		AND af.kind IN ('manual', 'user')
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
   		</if>
	</select>

	<select id="getNumberOfSAHumanTaskInstance" resultType="long">
  		SELECT COUNT(*)
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.terminal = TRUE
		AND af.kind IN ('manual', 'user')
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSAHumanTaskInstance" resultMap="archivedFlownodeInstanceResultMap">
		SELECT *
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.terminal = TRUE
		AND af.kind IN ('manual', 'user')
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
   		</if>
  	</select>

	<select id="getNumberOfSAHumanTaskInstanceManagedBy" resultType="long">
  		SELECT COUNT(*) 
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.terminal = TRUE
		AND af.assigneeId IN (
			SELECT u.id
			FROM user_ u
			WHERE u.tenantid = af.tenantid
			AND u.managerUserId = #{managerUserId}
		)
		AND af.kind IN ('manual', 'user')
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSAHumanTaskInstanceManagedBy" resultMap="archivedFlownodeInstanceResultMap">
		SELECT *
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.terminal = TRUE
		AND af.assigneeId IN (
			SELECT u.id
			FROM user_ u
			WHERE u.tenantid = af.tenantid
			AND u.managerUserId = #{managerUserId}
		)
		AND af.kind IN ('manual', 'user')
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
   		</if>
  	</select>

	<select id="getNumberOfSAActivityInstance" parameterType="list" resultType="long">
		SELECT COUNT(af.id)
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('manual', 'user', 'auto')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSAActivityInstance" parameterType="list" resultMap="archivedFlownodeInstanceResultMap">
		SELECT *
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('manual', 'user', 'auto')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getNumberOfSAFlowNodeInstance" parameterType="list" resultType="long">
		SELECT COUNT(af.id)
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSAFlowNodeInstance" parameterType="list" resultMap="archivedFlownodeInstanceResultMap">
		SELECT *
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSAAutomaticTaskInstance" parameterType="list" resultType="long">
		SELECT COUNT(af.id)
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('auto')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSAAutomaticTaskInstance" parameterType="list" resultMap="archivedFlownodeInstanceResultMap">
		SELECT *
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('auto')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSAUserTaskInstance" parameterType="list" resultType="long">
		SELECT COUNT(af.id)
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('user')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSAUserTaskInstance" parameterType="list" resultMap="archivedFlownodeInstanceResultMap">
		SELECT *
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('user')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
		
	<select id="getNumberOfSAManualTaskInstance" parameterType="list" resultType="long">
		SELECT COUNT(af.id)
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('manual')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSAManualTaskInstance" parameterType="list" resultMap="archivedFlownodeInstanceResultMap">
		SELECT *
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('manual')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSAAutomaticTaskInstancewithSAActivityInstance" parameterType="list" resultType="long">
		SELECT COUNT(af.id)
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('auto')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSAAutomaticTaskInstancewithSAActivityInstance" parameterType="list" resultMap="archivedFlownodeInstanceResultMap">
		SELECT *
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('auto')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSAUserTaskInstancewithSAActivityInstance" parameterType="list" resultType="long">
		SELECT COUNT(af.id)
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('user')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSAUserTaskInstancewithSAActivityInstance" parameterType="list" resultMap="archivedFlownodeInstanceResultMap">
		SELECT *
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('user')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
		
	<select id="getNumberOfSAManualTaskInstancewithSAActivityInstance" parameterType="list" resultType="long">
		SELECT COUNT(af.id)
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('manual')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>

	<select id="searchSAManualTaskInstancewithSAActivityInstance" parameterType="list" resultMap="archivedFlownodeInstanceResultMap">
		SELECT *
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('manual')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSAHumanTaskInstancewithSAActivityInstance" parameterType="list" resultType="long">
		SELECT COUNT(af.id)
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('manual', 'user')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>
	
	<select id="searchSAHumanTaskInstancewithSAActivityInstance" parameterType="list" resultMap="archivedFlownodeInstanceResultMap">
		SELECT *
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.kind IN ('manual', 'user')
		AND af.terminal = TRUE
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	
	<select id="getArchivedFlowNodesFromProcessInstance" parameterType="long" resultMap="archivedFlownodeInstanceResultMap">
		SELECT af.*
		FROM arch_flownode_instance af
		WHERE af.tenantid = #{tenantid}
		AND af.rootContainerId = #{rootContainerId}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
</mapper>