<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.core.process.instance.model.breakpoint.impl.SBreakpointImpl">

	<insert id="insertSBreakpointImpl" parameterType="breakpoint">
		INSERT INTO breakpoint (tenantid, id, state_id, int_state_id, elem_name, inst_scope, inst_id,
		def_id)
		VALUES (#{tenantid}, #{entity.id}, #{entity.stateId}, #{entity.interruptedStateId}, #{entity.elementName}, #{entity.isInstanceScope},
		#{entity.instanceId}, #{entity.definitionId})
	</insert>


	<delete id="deleteSBreakpointImpl" parameterType="breakpoint">
		DELETE FROM breakpoint
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="breakpointResultMap" type="breakpoint">
		<result property="id" column="id" />
		<result property="stateId" column="state_id" />
		<result property="interruptedStateId" column="int_state_id" />
		<result property="elementName" column="elem_name" />
		<result property="isInstanceScope" column="inst_scope" />
		<result property="instanceId" column="inst_id" />
		<result property="definitionId" column="def_id" />
	</resultMap>

	<select id="getBreakpoints" parameterType="long" resultMap="breakpointResultMap">
		SELECT *
		FROM breakpoint
		WHERE breakpoint.tenantid = #{tenantid}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getBreakpointById" parameterType="long" resultMap="breakpointResultMap">
		SELECT *
		FROM breakpoint
		WHERE breakpoint.tenantid = #{tenantid}
		AND breakpoint.id = #{id}
	</select>

	<select id="getNumberOfBreakpoints" parameterType="long" resultType="long">
		SELECT COUNT(*)
		FROM breakpoint
		WHERE breakpoint.tenantid = #{tenantid}
	</select>
</mapper>