<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.core.process.instance.model.event.handling.impl.SMessageInstanceImpl">

	<insert id="insertSMessageInstanceImpl" parameterType="message_instance">
		INSERT INTO message_instance (tenantid, id, messageName, targetProcess, targetFlowNode, locked, handled, processDefinitionId, flowNodeName, correlation1, correlation2, correlation3, correlation4, correlation5)
		VALUES (#{tenantid}, #{entity.id}, #{entity.messageName}, #{entity.targetProcess}, #{entity.targetFlowNode}, #{entity.locked}, 
			#{entity.handled}, #{entity.processDefinitionId}, #{entity.flowNodeName}, #{entity.correlation1}, #{entity.correlation2}, #{entity.correlation3}, #{entity.correlation4}, #{entity.correlation5})
	</insert>

	<update id="updateSMessageInstanceImpl" parameterType="map">
		UPDATE message_instance
		<trim prefix="SET" suffixOverrides=",">
			<if test="locked != null">locked=#{locked},</if>
			<if test="handled != null">handled=#{handled},</if>
		</trim>
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</update>

	<delete id="deleteSMessageInstanceImpl" parameterType="message_instance">
		DELETE FROM message_instance
		WHERE tenantid = #{tenantid}
		AND id = #{id} 
	</delete>

	<resultMap id="messageInstanceResultMap" type="message_instance">
		<result property="id" column="id" />
		<result property="messageName" column="messageName" />
		<result property="targetProcess" column="targetProcess" />
		<result property="targetProcess" column="targetProcess" />
		<result property="locked" column="locked" />
		<result property="handled" column="handled" />
		<result property="processDefinitionId" column="processDefinitionId" />
		<result property="flowNodeName" column="flowNodeName" />
		<result property="correlation1" column="correlation1" />
		<result property="correlation2" column="correlation2" />
		<result property="correlation3" column="correlation3" />
		<result property="correlation4" column="correlation4" />
		<result property="correlation5" column="correlation5" />
	</resultMap>

	<select id="getMessageInstancesByNameAndTarget" parameterType="List" resultMap="messageInstanceResultMap">
		SELECT *
		FROM message_instance AS m
		WHERE m.tenantid = #{tenantid}
		AND m.messageName = #{messageName}
		AND m.targetProcess = #{targetProcess}
		AND m.targetFlowNode = #{targetFlowNode}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
   		</if>
	</select>

	<select id="getMessageInstanceById" parameterType="List" resultMap="messageInstanceResultMap">
		SELECT *
		FROM message_instance AS m
		WHERE m.tenantid = #{tenantid}
		AND m.id = #{id}
	</select>

</mapper>