<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.platform.command.model.impl.SPlatformCommandImpl">
    <cache/>
	<insert id="insertSPlatformCommandImpl" parameterType="platformcommand">
		INSERT INTO platformCommand (id, name, description, implementation)
		VALUES (#{entity.id}, #{entity.name}, #{entity.description}, #{entity.implementation})
	</insert>

	<update id="updateSPlatformCommandImpl" parameterType="platformcommand">
		UPDATE platformCommand
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null">name=#{name},</if>
			<if test="description != null">description=#{description},</if>
		</trim>
		WHERE id = #{id}
	</update>

	<delete id="deleteSPlatformCommandImpl" parameterType="platformcommand">
		DELETE
		FROM platformCommand
		WHERE id = #{id}
	</delete>

	<resultMap id="platformCommandResultMap" type="platformcommand">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="implementation" column="implementation" />
	</resultMap>

	<select id="getPlatformCommandById" parameterType="long" resultMap="platformCommandResultMap">
		SELECT *
		FROM platformCommand
		WHERE id = #{id}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getPlatformCommandByName" parameterType="String" resultMap="platformCommandResultMap">
		SELECT *
		FROM platformCommand
		WHERE name = #{name}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getPlatformCommands" parameterType="long" resultMap="platformCommandResultMap">
		SELECT *
		FROM platformCommand
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

</mapper>