<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.core.category.model.impl.SCategoryImpl">
    <!-- 'cache' tag Commented out to solve one failing test(org.bonitasoft.engine.process.ProcessCategoryTest.testRemoveSeveralCategoriesToProcessDefinition): cache/-->
	<insert id="insertSCategoryImpl" parameterType="category">
		INSERT INTO category (tenantId, id, name, description, creator, creationDate, lastUpdateDate)
		VALUES (#{tenantid}, #{entity.id}, #{entity.name}, #{entity.description}, #{entity.creator}, #{entity.creationDate}, #{entity.lastUpdateDate})
	</insert>

	<update id="updateSCategoryImpl" parameterType="category">
		UPDATE category
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null">name=#{name},</if>
			<if test="description != null">description=#{description},</if>
			<if test="lastUpdateDate != null">lastUpdateDate=#{lastUpdateDate},</if>
		</trim>
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</update>

	<delete id="deleteSCategoryImpl" parameterType="category">
		DELETE FROM category
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="categoryResultMap" type="category">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="creator" column="creator" />
		<result property="creationDate" column="creationDate" />
		<result property="lastUpdateDate" column="lastUpdateDate" />
	</resultMap>

	<select id="getCategoryById" parameterType="long" resultMap="categoryResultMap">
		SELECT *
		FROM category category
		WHERE category.tenantid = #{tenantid}
		AND category.id = #{id}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getCategoryByName" parameterType="String" resultMap="categoryResultMap">
		SELECT *
		FROM category category
		WHERE category.tenantid = #{tenantid}
		AND name = #{name}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getNumberOfCategory" parameterType="long" resultType="long">
		SELECT COUNT(*)
		FROM category category
		WHERE category.tenantid = #{tenantid}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getCategories" parameterType="long" resultMap="categoryResultMap">
		SELECT *
		FROM category category
		WHERE category.tenantid = #{tenantid}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getCategoriesOfProcess" parameterType="long" resultMap="categoryResultMap">
		SELECT category.*
		FROM category, processcategorymapping
		WHERE category.tenantid = #{tenantid}
		AND category.tenantid = processcategorymapping.tenantid
		AND category.id = processcategorymapping.categoryId
		AND processcategorymapping.processId = #{processId}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

</mapper>