<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.persistence.model.TenantSequence">

	<cache />

	<select id="getSequence" parameterType="String" resultType="sequence">
		SELECT *
		FROM sequence
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</select>

	<update id="updateTenantSequence" parameterType="sequence">
		UPDATE sequence
		SET nextId = #{nextId}
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</update>

</mapper>