<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.scheduler.model.impl.SJobDescriptorImpl">

	<insert id="insertSJobDescriptorImpl" parameterType="job_descriptor">
		INSERT INTO job_desc (tenantid, id, jobClassName, jobName, description)
		VALUES (#{tenantid}, #{entity.id}, #{entity.jobClassName}, #{entity.jobName}, #{entity.description})
	</insert>

	<delete id="deleteSJobDescriptorImp" parameterType="job_descriptor">
		DELETE FROM job_desc
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="jobDescriptorResultMap" type="job_descriptor">
		<id property="id" column="id" />
		<result property="tenantId" column="tenantid" />
		<result property="jobClassName" column="jobClassName" />
		<result property="jobName" column="jobName" />
		<result property="description" column="description" />
	</resultMap>

	<select id="getSJobDescriptorImplById" parameterType="long" resultMap="jobDescriptorResultMap">
		SELECT jd.*
		FROM job_desc jd
		WHERE tenantid = #{tenantid}
		AND ID = #{id}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

</mapper>