<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.command.model.SCommandImpl">

	<insert id="insertSCommandImpl" parameterType="command">
		INSERT INTO command (tenantId, id, name, description, implementation, system)
		VALUES (#{tenantid}, #{entity.id}, #{entity.name}, #{entity.description} , #{entity.implementation} , #{entity.system})
	</insert>

	<update id="updateSCommandImpl" parameterType="command">
		UPDATE command
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null">name=#{name},</if>
			<if test="description != null">description=#{description},</if>
			<if test="system != null">system=#{system},</if>
		</trim>
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</update>

	<delete id="deleteSCommandImpl" parameterType="command">
		DELETE FROM command
		WHERE tenantId = #{tenantid}
		AND id = #{id}
	</delete>

	<resultMap id="commandResultMap" type="command">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="implementation" column="implementation" />
		<result property="system" column="system" />
	</resultMap>

	<select id="getCommandById" parameterType="long" resultMap="commandResultMap">
		SELECT *
		FROM command command
		WHERE command.tenantId = #{tenantid}
		AND command.id = #{id}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getCommandByName" parameterType="String" resultMap="commandResultMap">
		SELECT *
		FROM command command
		WHERE command.tenantId = #{tenantid}
		AND command.name = #{name}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getCommands" parameterType="long" resultMap="commandResultMap">
		SELECT *
		FROM command command
		WHERE command.tenantId = #{tenantid}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getCommandsWithSystemFalse" parameterType="long" resultMap="commandResultMap">
		SELECT *
		FROM command command
		WHERE command.tenantId = #{tenantid}
		AND command.system = #{system}
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="getNumberOfSCommand" parameterType="long" resultType="long">
		SELECT COUNT(*)
		FROM command command
		WHERE command.tenantId = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>
	
	<select id="searchSCommand" parameterType="long" resultMap="commandResultMap">
		SELECT *
		FROM command command
		WHERE command.tenantId = #{tenantid}
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

</mapper>