<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bonitasoft.engine.core.process.comment.model.archive.impl.SACommentImpl">

	<insert id="insertSACommentImpl" parameterType="arch_process_comment">
		INSERT INTO arch_process_comment (tenantid, id, userId, processInstanceId, postDate, content, archiveDate, sourceObjectId)
		VALUES (#{tenantid}, #{entity.id}, #{entity.userId}, #{entity.processInstanceId}, #{entity.postDate}, #{entity.content}, #{entity.archiveDate}, #{entity.sourceObjectId})
	</insert>

	<delete id="deleteSACommentImpl" parameterType="arch_process_comment">
		DELETE FROM arch_process_comment
		WHERE tenantid = #{tenantid}
		AND id = #{id}
	</delete>

	<select id="searchSAComment" parameterType="map" resultMap="archivedCommentResultMap">
		SELECT *
		FROM arch_process_comment AS arch_process_comment
		WHERE arch_process_comment.tenantid = #{tenantid}
		AND arch_process_comment.archiveDate = (
			SELECT MAX(apc.archiveDate) FROM arch_process_comment AS apc
			WHERE apc.sourceObjectId = arch_process_comment.sourceObjectId
		)
		<if test="filter != null">
			AND ${filter}
		</if>
		<if test="orderBy != null">
			ORDER BY ${orderBy}
		</if>
	</select>

	<select id="getNumberOfSAComment" parameterType="long" resultType="long">
		SELECT COUNT(id)
		FROM arch_process_comment AS arch_process_comment
		WHERE arch_process_comment.tenantid = #{tenantid}
		AND arch_process_comment.archiveDate = (
			SELECT MAX(apc.archiveDate) FROM arch_process_comment AS apc
			WHERE apc.sourceObjectId = arch_process_comment.sourceObjectId
		)
		<if test="filter != null">
			AND ${filter}
		</if>
	</select>
	
	<resultMap id="archivedCommentResultMap" type="arch_process_comment">
		<id property="id" column="id" />
		<result property="userId" column="userId" />
		<result property="processInstanceId" column="processInstanceId" />
		<result property="postDate" column="postDate" />
		<result property="content" column="content" />
		<result property="sourceObjectId" column="sourceObjectId" />
		<result property="archiveDate" column="archiveDate" />
	</resultMap>

	

</mapper>